Email Adder.json
{
  "name": "Email Adder",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -16
      ],
      "id": "c7d767f1-127a-4e1a-8c1c-3ca6693f4065",
      "name": "Telegram Trigger",
      "webhookId": "ddb8e3c2-4bd3-4f90-96bb-d33f92f4c8be",
      "credentials": {
        "telegramApi": {
          "id": "ZKgPw6JvBkzFJtZQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n\n# Rules\n1.Create a email draft first and make sure to show the message in telegram before sending the email\n2.Only send the email after getting the confirmation message \"Go\"\n3.End emails with this exact signature always :\nBest Regards\nRahul",
        "options": {
          "systemMessage": "You are a Email assistant that sends emails for me "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        48,
        0
      ],
      "id": "3e96e7bb-8ebb-4f97-9ce3-d01434d0ae0b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        192
      ],
      "id": "ba084feb-7034-4567-9f9f-30e68783efc6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7Xh2R2Cq8q71mTo2",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ],
      "id": "cda276ee-11fd-40e5-ba60-6e9d7e3823e6",
      "name": "Send a text message",
      "webhookId": "a3b6453b-5ee5-4c77-af31-8c5bdc368ded",
      "credentials": {
        "telegramApi": {
          "id": "ZKgPw6JvBkzFJtZQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create Email Drafts",
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        400,
        176
      ],
      "id": "b57e0081-e7f2-4bc2-a085-45de8c7ba1fd",
      "name": "Create a draft in Gmail",
      "webhookId": "9fa592a8-3640-47f0-8ba5-14cc67bb9213",
      "credentials": {
        "gmailOAuth2": {
          "id": "m06EpyAvebjBV39b",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send Email",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        320,
        336
      ],
      "id": "cf97bf44-f8e6-436f-ade7-06378d0a4fe5",
      "name": "Send a message in Gmail",
      "webhookId": "9fa592a8-3640-47f0-8ba5-14cc67bb9213",
      "credentials": {
        "gmailOAuth2": {
          "id": "m06EpyAvebjBV39b",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        256
      ],
      "id": "43750afe-7c3f-4593-a806-eb01d399dcbc",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27ec523b-1647-470a-8903-a91de935da16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c468e033b0a422cd7f467d206a054d979feb7b12d76832cae9f9f19172f3779a"
  },
  "id": "lPJQGdcES6dHglkh",
  "tags": []
}